{% load static %}
{% load thumbnail %}
  <div class="container">
    <div class="service-details">
      {% thumbnail posts.image "960x339" crop="center" upscale=True as im %}
  <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
      <div class="service-hover-text">
        <h3>Автор: {{ posts.author.get_full_name }}</h3>
        <h4>Дата публикации: {{ posts.pub_date|date:"d E Y" }}</h4>
        <p>{{posts.text}}</p>
      </div>
      <div class="service-white service-text">
        <p>{{ post.author.get_full_name }}</p>
        <a href="{% url 'posts:profile' posts.author.username %}">Профиль {{ posts.author.get_full_name }}</a>
        {% if post.group %}   
        <a href="{% url 'posts:group_posts' post.group.slug  %}">все завписи группы </a>
        <a href="{% url 'posts:post_detail' post.id %}">Подробная информация</a>
        {% endif %} 
       {% if not forloop.last %}<hr>{% endif %}
      </div>
    </div>
  </div>
  <style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  background: #485b6e;
}

.container {
  max-width: 500px;

}



.service-details {
  /*width: 460px;*/
  height: 250px;
  /*height: 230px;*/
  overflow: hidden;
  position: relative;
}

.service-details img {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: auto;
  height: 100%;
  float: left;
  transition: all 0.8s;
  -moz-transition: all 0.8s;
}

.service-details:hover img {
  /*opacity: 0.4 !important;*/
}

.service-details .service-hover-text h3 {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  font-weight: 300;
  font-family: "Open Sans";
}

.service-details .service-hover-text h4 {
  padding: 0px;
  padding-bottom: 13px;
  margin: 0px;
  font-size: 14px;
  letter-spacing: 3px;
  width: 90%;
  font-family: "Open Sans";
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.service-details .service-hover-text p {
  padding-top: 13px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans";
}

.service-details .service-hover-text {
  width: 42%;
  height: 89%;
  position: absolute;
  top: 0%;
  left: 50%;
  padding: 3% 4%;
  background: #d90e0e;
  color: white;
  /*	display: none;*/
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.4s;
}

.service-details:hover .service-hover-text {
  display: block !important;
  color: white;
  background: rgba(217, 14, 14, 0.85);
  left: 0px;
  top: 0px;
}

.service-details .service-text {
  width: 50%;
  height: inherit;
  background: #000;
  float: left;
  position: absolute;
  left: 50%;
}

.service-details .service-text p {
  padding: 100px 0px 0px 20px;
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #fff;
}

.service-details .service-text p span {
  font-family: "Open Sans" !important;
}

.service-details .service-text a,
.service-white .service-text {
  padding: 0px 0px 0px 20px;
  font-size: 14px !important;
  color: #ff5a22 !important;
  font-family: "Open Sans" !important;
  text-decoration: none !important;
}

.service-details .service-text {
  float: left;
}

.service-white {
  background: #eee !important;
  width: 50% !important;
  height: inherit !important;
}

.service-white p {
  color: #000 !important;
}
</style>