{% load static %}
{% load thumbnail %}
  <div class="container">
    <div class="service-details">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
  <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
      <div class="service-hover-text">
        <h3>Автор: {{ post.author.get_full_name }}</h3>
        <h4>Дата публикации: {{ post.pub_date|date:"d E Y" }}</h4>
        <p>{{post.text}}</p>
      </div>
      <div class="service-white service-text">
        <p>{{ post.author.get_full_name }}</p>
        <a href="{% url 'posts:profile' post.author.username %}">Профиль {{ post.author.get_full_name }}</a>
        <form id="like-form-{{ post.id }}" action="{% url 'posts:like_post' post.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-danger">
              <i class="fa fa-heart" aria-hidden="true"></i> <span> | </span>
              <span class="like-count">
                  {% if request.user.is_authenticated %}
                      {{ total_likes }}
                  {% else %}
                      <a href="{% url 'users:login' %}">
                          {{ total_likes|default:0 }}
                      </a>
                  {% endif %}
              </span>
          </button>
        </form>
        <form id="dislike-form-{{ post.id }}" action="{% url 'posts:dislike_post' post.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-dark">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i> <span> | </span>
              <span class="dislike-count">
                  {% if request.user.is_authenticated %}
                      {{ total_dislikes }}
                  {% else %}
                      <a href="{% url 'users:login' %}">
                          {{ total_dislikes|default:0 }}
                      </a>
                  {% endif %}
              </span>
          </button>
        </form>
        
        <script>
          $(function() {
              var form = $('#like-form-{{ post.id }}');
              var countEl = form.find('.like-count');
        
              // Get like count from local storage
              var count = localStorage.getItem('post-' + {{ post.id }} + '-likes');
              if (count) {
                  countEl.text(count);
              }
        
              form.submit(function(event) {
                  event.preventDefault();
                  var url = form.attr('action');
                  var method = form.attr('method');
                  $.ajax({
                      url: url,
                      method: method,
                      data: form.serialize(),
                      success: function(data) {
                          var newCount = data.total_likes;
                          if (newCount !== undefined) {
                              countEl.text(newCount);
                          }
                          // Save like count to local storage
                          localStorage.setItem('post-' + {{ post.id }} + '-likes', newCount);
                      },
                      error: function(xhr, status, error) {
                          console.log(xhr.responseText);
                      }
                  });
              });
          });
        </script>
        <script>
          $(function() {
              var form = $('#dislike-form-{{ post.id }}');
              var countEl = form.find('.dislike-count');
      
              // Get dislike count from local storage
              var count = localStorage.getItem('post-' + {{ post.id }} + '-dislikes');
              if (count) {
                  countEl.text(count);
              }
      
              form.submit(function(event) {
                  event.preventDefault();
                  var url = form.attr('action');
                  var method = form.attr('method');
                  $.ajax({
                      url: url,
                      method: method,
                      data: form.serialize(),
                      success: function(data) {
                          var newCount = data.total_dislikes;
                          if (newCount !== undefined) {
                              countEl.text(newCount);
                          }
                          // Save dislike count to local storage
                          localStorage.setItem('post-' + {{ post.id }} + '-dislikes', newCount);
                      },
                      error: function(xhr, status, error) {
                          console.log(xhr.responseText);
                      }
                  });
              });
          });
      </script>
        {% if post.group %}   
        <a href="{% url 'posts:group_posts' post.group.slug  %}" >все завписи группы</a>
        <a href="{% url 'posts:post_detail' post.id %}">Подробная информация</a>
        {% endif %} 
       {% if not forloop.last %}<hr>{% endif %}
      </div>
    </div>
  </div>
  <style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  background: #485b6e;
}

.container {
  max-width: 500px;

}



.service-details {
  /*width: 460px;*/
  height: 250px;
  /*height: 230px;*/
  overflow: hidden;
  position: relative;
}

.service-details img {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: auto;
  height: 100%;
  float: left;
  transition: all 0.8s;
  -moz-transition: all 0.8s;
}

.service-details:hover img {
  /*opacity: 0.4 !important;*/
}

.service-details .service-hover-text h3 {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  font-weight: 300;
  font-family: "Open Sans";
}

.service-details .service-hover-text h4 {
  padding: 0px;
  padding-bottom: 13px;
  margin: 0px;
  font-size: 14px;
  letter-spacing: 3px;
  width: 90%;
  font-family: "Open Sans";
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.service-details .service-hover-text p {
  padding-top: 13px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans";
}

.service-details .service-hover-text {
  width: 42%;
  height: 89%;
  position: absolute;
  top: 0%;
  left: 50%;
  padding: 3% 4%;
  background: #d90e0e;
  color: white;
  /*	display: none;*/
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.4s;
}

.service-details:hover .service-hover-text {
  display: block !important;
  color: white;
  background: rgba(217, 14, 14, 0.85);
  left: 0px;
  top: 0px;
}

.service-details .service-text {
  width: 50%;
  height: inherit;
  background: #000;
  float: left;
  position: absolute;
  left: 50%;
}

.service-details .service-text p {
  padding: 100px 0px 0px 20px;
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #fff;
}

.service-details .service-text p span {
  font-family: "Open Sans" !important;
}

.service-details .service-text a,
.service-white .service-text {
  padding: 0px 0px 0px 20px;
  font-size: 14px !important;
  color: #ff5a22 !important;
  font-family: "Open Sans" !important;
  text-decoration: none !important;
}

.service-details .service-text {
  float: left;
}

.service-white {
  background: #eee !important;
  width: 50% !important;
  height: inherit !important;
}

.service-white p {
  color: #000 !important;
}
</style>