{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index'%}">Yatube <i class="fa fa-y-combinator" aria-hidden="true"></i> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about:author' %}">Об авторе <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts:follow_index' %}">Избранные авторы <i class="fa fa-heart" aria-hidden="true"></i></i></i> </a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts:post_create' %}">Новая запись <i class="fa fa-file" aria-hidden="true"></i></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:password_change' %}">Изменить пароль <i class="fa fa-key" aria-hidden="true"></i> </a>
      </li>
        {% endif %}
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                     data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-user-circle"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li>
                          <a class="dropdown-item" href="{% url 'posts:profile' user.username %}">Профиль {{ user.get_full_name }}<i class="fas fa-user-circle"></i></a>
                      </li>
                      <li><a class="dropdown-item" href="{% url 'posts:post_create' %}">Новая запись <i class="fa fa-file" aria-hidden="true"></i></a></li>
                      {% if user.is_superuser or user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin:index'%} ">Админ-панель</a></li>
                        {% endif %}
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'users:logout'%}">Выйти <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                  </ul>
              </li>
              {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:signup' %}">Регистрация <i class="fa fa-registered" aria-hidden="true"></i></i></a>
          </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


<!-- FontAwesome script -->
<script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">