{% extends 'base.html' %}
{% block content %}
{% if is_edit %}
<title> Редактировать запись</title>
<h1> Редактировать запись</h1>{{post.id}}
<label for="id_text">
  Текст поста             
  <span class="required text-danger" >*</span>
{% else %}
<title> Добавить запись</title>
<h1> Добавить запись</h1>
{% endif %}
<form method="post" enctype="multipart/form-data">{{form.as_p}}{% csrf_token%}
  <button type="submit" class="btn btn-outline-danger">
    {% if is_edit %}
      Сохранить
    {% else %}
      Добавить
    {% endif %}               
  </button> 
</div>
</form>    
              
{% endblock %} 
