{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
{% load thumbnail %}
<title>{% block title %}Подписки{% endblock %}</title>
  {% include 'posts/includes/switcher.html' %}
  {% for posts in page_obj %}
  {% include 'includes/code4.html' %} 
    {% if post.group %} 
      <a href="{% url 'posts:group_posts' post.group.slug %}">
        все записи группы
      </a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}